In [3]:
import pandas as pd
from itertools import product
from tqdm import tqdm

In [ ]:
import json
with open("negative_samples_v2.json", "r") as f:
    negative_samples = json.load(f)

In [18]:
negative_data = []
for key,vals in tqdm(negative_samples.items()):
    curr_data = list(product([key],vals))
    for data in curr_data:
        negative_data.append([data[0],data[1],0])

100%|█████████████████████████████████████████████████████████████████████████| 12065/12065 [00:00<00:00, 93530.11it/s]

In [19]:
negative_df = pd.DataFrame(negative_data,columns=['cat0','cat1','label'])
negative_df.to_csv("synthetic_negatives.csv",index=False)

In [37]:
positive_df = pd.read_csv("synthetic_positives.csv")
positive_df.drop(columns=['filename'],inplace=True)

In [31]:
synthetic_df = pd.concat([positive_df,negative_df])

In [34]:
synthetic_df = synthetic_df.sample(frac=1).reset_index()
synthetic_df

,index,cat0,cat1,label
0,9464,Michigan,MI,1
1,27135,Yakima County,Lorain County,0
2,70442,Tokyo International Film Festival,Cinema for Peace Awards,0
3,43939,United Arab Emirates,Oman,0
4,5078,Belgium,Belgique,1
...,...,...,...,...
143453,66379,other_recovered_gases,gasworks_gas,0
143454,119943,Riesling,Rufete,0
143455,13187,Vermentino di Toscana,Sangiovese di Toscana,0
143456,88864,Higher Education (Women),Women Entrepreneurs,0
143457,23574,Garfield,Adolphus,0

In [35]:
synthetic_df.to_csv("synthetic_data_final.csv",index=False)

In [30]:
negative_df.columns

Index(['cat0', 'cat1', 'label'], dtype='object')

In [38]:
positive_df

               cat0          cat1  label
0        California            CA      1
1        California  Golden_State      1
2        California        Calif.      1
3           Toscana       Tuscany      1
4           Sicilia        Sicily      1
...             ...           ...    ...
13995         State         state      1
13996         State      province      1
13997  Depreciation  depreciation      1
13998       Actives        active      1
13999       Actives  active_agent      1

[14000 rows x 3 columns]